/build/
target
classes
checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.hgignore
.hg/
*.swp
.DS_Store
*.iml
.idea/
/infra/.kube
/infra/.terraform
/infra/.terraform.lock.hcl*
/infra/terraform.tfstate*
/infra/main.tfplan*